body {
    background-color: rgb(40, 40, 40);
}

a, a:link, a:visited, a:active, a:hover { 
		color: #fff; text-decoration: underline;
}

p, h1 {
    font-family: MuseoSlab-500, sans-serif;
    color:#FFF;
}

p {
    font-size: 12px;
}

.title {
    position: absolute;
    top:50%;
    left: 50%;
    height: 54px;
    width: 426px;
    margin-top: -27px;
    margin-left: -213px;
    z-index: 1;

    font-size:72px;
	text-align:center;
}

.info {
    position: absolute;
    top: 100%;
    margin-top: -25px;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.20);   
}
             
canvas { 
    display: block;
    position: fixed;
    top:0;
    left:0;
}

#content { 
		width: 100%; min-width: 300px; height: 100%; min-height: 300px; overflow: auto;
}

.social {
    position: absolute;
    top: 50%;
    left: 50%;
    width:424px;
    height: 54px;

    margin-left: -210px;
    margin-top: 55px;   
}

.social div {
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}

.social p {
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.2);
}

.social a {
    display: inline-block;
    width: 106px;
    height: 54px;
    overflow: hidden;
    margin: 0px -2px 0px -2px;
    
    border-radius: 2px;
    background-position: center;
        -webkit-background-size: 40px 40px;
        -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.social a:hover, .social a:active {
background: rgba(102, 102, 102, 0.2);
background-position: center;
    -webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
background-size: 40px 40px;
background-repeat: no-repeat; 
}

.social a.behance {
background-image:url("../img/behance.png");
}

.social a.dribbble {
background-image:url("../img/dribbble.png");
}

.social a.tumblr {
background-image:url("../img/tumblr.png");
}

.social a.twitter {
background-image:url("../img/twitter.png");
}

.social a.behance, .social a.dribbble, .social a.tumblr, .social a.twitter {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
opacity: 0.3;
    -webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
transition: opacity 0.5s linear;
    -webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
transition-delay: 0.5s;
}

.social a.behance:hover, .social a.dribbble:hover, .social a.tumblr:hover, .social a.twitter:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
opacity: 1;
    -webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
transition: none;
}